<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TITLE-About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/about.css">
  </head>

  <body>
    <div style="height:48px;background-color: #efefef;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);z-index:10;position:relative;">
      <h3 id="mainTitle" style="font-size:33px;line-height:1.2;margin-left:8;">Frank and Kyle</h3> 
      <a href='/login'><button class="btn btn-lg btn-outline-primary custom-btn" >Login</button></a>
      <a href='/about'><button class="btn btn-lg btn-outline-secondary custom-btn" >About</button></a>
      <a href='/'><button class="btn btn-lg btn-outline-secondary custom-btn">Home</button></a>
    </div>
    <div class="login-page">
      <div class="form">
        <h1>ABOUT</h1>
        <p>
        The goal of this website is to make it possible for people across the nation to offer their assistance to anyone in need of it. There are many Americans who, due to certain pre-existing health conditions or old age, are worried to leave their houses to do perform essential tasks such as grocery shopping during the time of this pandemic. Using this site, we hope that people in need of assistance will be able to locate others in their area who would graciously offer up their time for grocery shopping or other essential needs. By doing this we hope to limit the amount of exposure vulnerable people would have to the coronavirus.
        <br>
        <br>
        The site is designed for you to be able to quickly sign up and add your name to the map of people who are offering their time and ability and add a description to your name describing how you can help and how someone could contact you; whether it be through email, phone, or some other method, we believe that the important thing is that people are able to find others in their area who are able to help them.
        <br>
        <br>
        We ask for as much or as little personal information as you would like to provide. The only things that will be displayed on the map are the name you enter and the information you provide about how you can be contacted when you sign up. This information can be changed anytime on the user settings page.
        <br>
        <br>
        We hope that this, even though it may be a very small factor in our fight against the virus, will change lives and do good in the country.
        </p>
        <a href="/privacypolicy" style="font-size:12;">Privacy Policy</a>
      </div>
    </div>
    <div class="login-page">
      <div class="form">
        <h1>Credits</h1>
        <p>
        City location data provided by:
        <br>
        <a href="https://simplemaps.com/data/us-cities">https://simplemaps.com/data/us-cities</a>
        </p>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>