<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TITLE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/about.css">
  </head>

  <body>
    <div style="height:38px;background-color: #efefef;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
      <a href='/login'><button id="logingButton" class="btn btn-outline-primary custom-btn" >Login</button></a>
      <a href='/about'><button class="btn btn-outline-secondary custom-btn" >About</button></a>
      <a href='/'><button class="btn btn-outline-secondary custom-btn">Home</button></a>
    </div>

    <p>ABOUT</p>
    <p>Will be added soon...</p>
  </body>
</html>