<html>

  <head>
    <meta charset="utf-8">
    <title>Covid Help-About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/about.css">
  </head>

  <body>
    <div style="height:48px;background-color: #efefef;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);z-index:10;position:relative;">
      <h3 id="mainTitle" style="color:#4d4d4d;font-size:33px;line-height:1.4;margin-left:8;">Covid Shopping Help</h3>
      <a href='/about'><button class="btn btn-lg btn-outline-secondary custom-btn" >About</button></a>
      <a href='/'><button class="btn btn-lg btn-outline-secondary custom-btn">Home</button></a>
    </div>
    <div class="login-page">
      <div class="form">
        <h1>ABOUT</h1>
        <p>This website is best experienced on a computer.</p>
        <p>As we flatten the curve, it is still important that people who are susceptable to coronaviurs symptoms remain safe at this time. Our website is designed to provide a forum for people to find others in their area who are willing to help them with tasks they are not comfortable doing during the pandemic.<br><br>
        If you would like to add your name to the map, and volunteer your time to help others, please register for an account. When you sign up you will need to add a description which will be shown publicly under your name on the map. You can write any contact information you are comfortable giving out in this area as a way to offer your assisstance.<br><br>
        If you are in need of help please select one of the markers on the map near you and there will be a list of people offering their help. Be sure to stay safe when contacting people in real life. <span style="color:red">If you run into any issues or have any questions, please email us at help.virusshop@gmail.com</span> </p>
        <a href="/privacypolicy" style="font-size:12;">Privacy Policy</a>
        <br>
        <a href="/termsofservice" style="font-size:12;">Terms of Use</a>
      </div>
    </div>
    <div class="login-page">
      <div class="form">
        <h1>Credits</h1>
        <p>
        City location data provided by:
        <br>
        <a href="https://simplemaps.com/data/us-cities">https://simplemaps.com/data/us-cities</a>
        </p>
        <br>
        <br>
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>