<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TITLE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/home.css">
  </head>

  <body>

    <div style="height:48px;background-color: #efefef;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);z-index:10;position:relative;">
      <h3 id="mainTitle" style="font-size:33px;line-height:1.2;margin-left:8;">Frank and Kyle</h3> 
      <a href='/login'><button class="btn btn-lg btn-outline-primary custom-btn" >Login</button></a>
      <a href='/about'><button class="btn btn-lg btn-outline-secondary custom-btn" >About</button></a>
      <a href='/'><button class="btn btn-lg btn-outline-secondary custom-btn">Home</button></a>
    </div>

    <div id="mapView">
    
      <div id="mapDiv">
        <div id="map"></div>
      </div>
      
      <div class="overlay" id="locationDiv" style="bottom:30px;">
        <p id="shopperList" style="font-size:14px;">No Location Selected.</p> 
      </div>

      <div class="overlay" id="accountDiv" style="max-height:67%;">
        <p style="margin:-4px 0 0 0">Change Description:</p>
        <textarea required name="nDesc" class="form-control" form="signupForm" placeholder="Limit 500 Characters" maxlength=500 style="resize:none;width:100%;font-size:14;"></textarea>
        <br>
        <p style="margin:-15px 0 -2px 0;">Change Password:</p>
        <input name="oPass" class="form-control" type="text" placeholder="Old Password" style="width:100%;font-size:14;margin:3px 0 3px 0 ;"> </input> 
        <input name="nPass" class="form-control" type="text" placeholder="New Password" style="width:100%;font-size:14;margin:3px 0 3px 0 ;"> </input>
        <input name="cnPass" class="form-control" type="text" placeholder="Confirm New Password" style="width:100%;font-size:14;margin:3px 0 3px 0 ;"> </input>
        <p style="font-size:12px">Password must be at least 8 characters, have one capital, and one lowercase letter, and one number</p>
        <button id="change" class="btn btn-success" style="border-radius:0;margin: 5px 0 10px 0">Save Changes</button>
        <button id="delete" class="btn btn-danger" style="border-radius:0;margin: 5px 0 10px 0">Delete Account</button>
      </div>

    </div>

    <script>
      var shoppers = <%- shoppersList %>
      var currentUser = <%- currentUser %>
      console.log(currentUser)
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/home.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAOX3oWf2u4MDfrlEIvKfPVi6fRN0WBN9s&callback=initMap"></script> 
</body> 
</html>