body, html{
  height: 95vh;
  background-color: #efefef;
}

#map {
  top:-100px;
  bottom:0;
  width: 100%;
  position: absolute;
  z-index:1;
} 

.btn.custom-btn {
  border-radius: 0;
  background-color: #efefef;
  border-color: #efefef;
  float:right;
}

#mapView {
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  z-index:1;
}

.overlay {
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 10px;
  border-style: solid;
  border-radius: 2px;
  position: absolute;
  width: 33%;
  background-color: #ffffff;
  border-color: rgba(98, 154, 213, 0.832);
  opacity: 0.9;
  top: 78px;
  left: 30px;
  z-index:2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#mainTitle{
  float:left
}

#accountDiv{
  left: -150%;
}