body, html{
  height: 95vh;
  background-color: #efefef;
}

#map {
  top:-100px;
  bottom:0;
  width: 100%;
  position: absolute;
  z-index:1;
} 

.btn.custom-btn {
  border-radius: 0;
  background-color: #efefef;
  border-color: #efefef;
  float:right;
}

#mapView {
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  z-index:1;
}

.overlay {
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 10px;
  border-style: solid;
  border-radius: 2px;
  position: absolute;
  width: 33%;
  background-color: #ffffff;
  border-color: rgba(98, 154, 213, 0.832);
  opacity: 0.9;
  top: 78px;
  left: 30px;
  z-index:2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#mainTitle{
  float:left
}

#accountDiv{
  left: -150%;
}

.form-control{
  width:100%;
  font-size:14;
  margin:3px 0 3px 0;
}

.panel-btn{
  border-radius:0;
  margin: 5px 0 10px 5px;
  float:left;
  clear:right;
}

.lightbox {
  position: absolute;
  z-index:3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5)
}
.toolbarLB {
  text-align: right;
  font-size:24px;
  font-style:bold;
  margin-top:-7px;
  float:right;
}

.closeLB {
  color: black;
  cursor: pointer;
}

.lightbox .iframeContainer {
  overflow-y: scroll;
  vertical-align: middle;
  background: #efefef;
  padding: 10px 20px 0 20px;
  max-width:60%;
  max-height:70%;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(98, 154, 213, 0.832);
}

.lightbox.closed {
  display: none;
}
/* 
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
  font-family: Roboto;
}

#pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
}

.pac-controls {
        display: inline-block;
        padding: 5px 11px;
}

.pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
}

#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
}

#pac-input:focus {
        border-color: #4d90fe;
} */